@model IEnumerable<Vreme.Models.Podatki>


@{
    ViewBag.Title = "Podatki";
}

<h2 id="podatki">Vsi podatki</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover" style="background-color:rgba(255, 255, 255, 0.55);border:2px solid black;border-radius:2px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPostaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vlaga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nekaj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nevem)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPostaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp)°C
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vlaga)%
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nekaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nevem)
            </td>
        </tr>
    }

</table>

