
<!DOCTYPE html>
<html style="height:100%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Project Cona</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="height:100%;">
    <div id="zgoraj" class="navbar navbar-inverse navbar-fixed-top" style="transition:0.5s;">
        <div class="container-fluid" style="padding-left:15px;padding-right:15px;">
            <div class="navbar-header" style="display:inline-block">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="position:fixed;right:5px;vertical-align:central;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Indexen" style="padding:5px;" class="text-center">
                    <img src="~/Slike/cona1.jpg" class="img-rounded" height="80" alt="Projekt Cona" title="Projekt Cona" id="conalogo" />
                </a>
                <button type="button" id="navbtn1" class="navbar-btn text-center navbtnstil1" onclick="openNav()">Navigation</button>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav" style="vertical-align:central;">
                    <li><a href="/Home/Index"><img src="~/Slike/sloveniaicon.png" title="Slovensko" height="30" /></a></li>
                    <li><a href="/Home/Indexit"><img src="~/Slike/italyicon.png" title="Italiano" height="30" /></a></li>
                    <li><a href="/Home/Indexen"><img src="~/Slike/ukicon.png" title="English" height="30" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sidenav" id="stranska">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/Home/indexit">Start</a>
        <a href="/Podatki">All data</a>
        <a href="#sipostaje" data-toggle="collapse">SI Stations<span class="caret"></span></a>
        <div id="sipostaje" class="collapse">
            <a href="/Podatki/Index/1">Station1</a>
            <a href="/Podatki/Index/2">Station2</a>
            <a href="/Podatki/Index/3">Station3</a>
            <a href="/Podatki/Index/4">Station4</a>
            <a href="/Podatki/Index/5">Station5</a>
            <a href="/Podatki/Index/6">Station6</a>
        </div>
        <a href="#itpostaje" data-toggle="collapse">IT Stations<span class="caret"></span></a>
        <div id="itpostaje" class="collapse">
            <a href="/Podatki/Index/7">Station7</a>
            <a href="#">Station8</a>
            <a href="#">Station9</a>
            <a href="#">Station10</a>
            <a href="#">Station11</a>
            <a href="#">Station12</a>
        </div>
        <a href="/Arso">ARSO</a>
        <a href="#">Project Cona</a>
    </div>
    @*   <img src="~/Slike/vremebannerx.jpg" class="img-responsive" style="width:100%;height:100px;" />*@

    <div id="main" class="container-fluid body-content" style="height:100%;display:flex;flex-direction:column;">
        <div style="flex: 1 0 auto;padding-left:15px;padding-right:15px;">
            @RenderBody()
        </div>
        <footer id="spodaj" class="text-center" style="display:inline-block;background-color:white;width:100%;padding:5px;transition:0.5s;border-top: 2px solid black;flex-shrink: 0;">
            <img src="~/Slike/irisacqua.jpg" height="50" />
            <img src="~/Slike/vikng.jpg" height="50" />
            <img src="~/Slike/scng1.png" height="50" />
        </footer>
    </div>

    <script>
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
            document.getElementById("stranska").style.width = "190px";
            document.getElementById("navbtn1").style.display = "none";
            document.getElementById("main").style.marginLeft = "190px";
            //document.getElementById("spodaj").style.marginLeft = "190px";
            document.getElementById("zgoraj").style.marginLeft = "190px";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("stranska").style.width = "0";
            document.getElementById("navbtn1").style.display = "initial";
            document.getElementById("main").style.marginLeft = "0";
            //document.getElementById("spodaj").style.marginLeft = "initial";
            document.getElementById("zgoraj").style.marginLeft = "initial";
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
